body {
		font-family: sans-serif;
		background-color: #000000;
}

.center {
		max-width: 350px;
		margin: 0 auto;
		text-align: left;
}

h1 {
		text-align: center;
		color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
}

.container {
		max-width: 70%;
		margin: 0 auto;
		text-align: center;
}

.second {
		max-width: 500px;
		margin: 0 auto;
		text-align: left;
}

article {
	max-width: 750px;
	margin: 0 auto;
	margin-top: 1em;
  margin-bottom: 5em;
}

article img {
		margin: 0 auto;
		display: block;
}

header .container {
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
		    justify-content: space-around;
		    flex-wrap: none;
        margin: 0 auto;
        text-align: center;
}

.logo {
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 3;
		order: 2;
        -webkit-order 2;
}

.mixcloud {
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
		order: 3;
        -webkit-order 3;
}

.facebook {
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
		order: 1;
        -webkit-order 1;
}

p {
		color: #FFFFFF;
}

li {
		color: #FFFFFF;
}

.headshot {
		text-align: center;
}

nav {
		background: black;
}

nav ul {
		padding: 0;
		margin: 0 auto;
		text-align: center;
}

nav ul li {
		display: inline-block;
}

nav ul li a {
		text-decoration: none;
		color: white;
}

/* Home Styles */

.home {
		background-image: url("../img/background-home.jpg");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
}

nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
}

nav ul {
		padding: 20px;
}

nav ul li {
		font-size: 24px;
		font-family: sans-serif;
		padding: 0 1em;
}

form input {
		display: block;
		width: 100%;
		margin: 2em auto!important;
		height: 50px;
}

form .submit {
		margin-top: 1em;
		text-align: center;
		background-color: green;
		height: 3em;
		width: 7em;
		font-weight: bold;
		color: white;
		border: 0;
		font-size: 20px;
}

.left,
.right {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

/* Mobile */
@media (max-width: 790px) {
		.left, .right {
			display: block;
			width: 100%;
		}
		header .container {
				max-width: 100%;
                text-align: middle;
		}
        .home .logo{
            display: none;
        }
        .home .mixcloud {
            display: none;
        }
		.logo {
                -moz-box-ordinal-group: 1;
                -ms-flex-order: 1;
                -webkit-order: 1;
				order: 1;
                -webkit-order 1;
				flex-grow: 1;

		}
		.mixcloud {
                -moz-box-ordinal-group: 3;
                -ms-flex-order: 3;
                -webkit-order: 3;
				order: 2;
                -webkit-order 2;
				margin-top: 1em;
				margin-bottom: 1em;
		}
		.facebook {
                -moz-box-ordinal-group: 3;
                -ms-flex-order: 3;
                -webkit-order: 3;
				order: 3;
                -webkit-order 3;
				margin-top: 1em;
				margin-bottom: 1em;
		}
		.page nav {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 160px;
		}
		.page nav ul li {
				display: block;
		}
		.page header {
				margin-top: 160px;
		}
		.home {
				background: none !important;
				background-color: black;
		}
		.home nav ul li {
				display: block;
				margin: 0 auto;
				padding: 10vh;
		}
		.home nav ul li a {
				border: none !important;
                text-decoration: underline;
		}
}

/* Header Breaks */
@media (max-width: 545px) {
		header .container {
            -webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}
}


/* Embed Player Scaling*/
@media (max-width: 700px) {
	iframe{
		width: 100%;
	}
}

.music{
  text-align: center;
  margin-bottom: 4em;
}





